/* .div1 {
    border: solid;
    color: blue;
    position: absolute;

}

.div2 {
    border: solid;
    color: blue;
    position: absolute;

}

.div3 {
    border: solid;
    color: blue;
    position: absolute;

}

.div4 {
    border: solid;
    color: blue;
    position: absolute;

} */